.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;  
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}

.todolist  li {
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
    padding-top: 10px
}
.pointer{
    cursor: pointer;
}